<!-- app.component.html


-->

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <!-- Step 1 -->
      <a *ngIf="!loggedIn" class="nav-item nav-link" (click)="login()">Login</a>
      <a *ngIf="loggedIn" class="nav-item nav-link" (click)="logout()">Logout</a>
      
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
