<!-- datasrc.component.html-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<div class="container-fluid text-center">
  <!-- Step 2 -->
  <h3>Creating an SdsType</h3>
  <p>To insert data into Sds, you must first create an SdsType that will enforce what type of data is written to a stream.
    For this sample, we will be writing events of the WaveData type discussed in the README.
    Press the button below to create the WaveDatan SdsType.</p>
  <div>
    <button id="createType" class="btn btn-primary" (click)="createType()">Create Type</button>
    <br>
    <span id="createTypeMessage" *ngIf="button1Message">Response: {{button1Message}}</span>
  </div>
  <!-- Step 3 -->
  <h3>Creating an SdsStream</h3>
  <p>Now that we have an SdsType, we can create an SdsStream. Once we create a stream and associate it with a type,
  we can write data of that type to Sds. Press the button below to create a stream.</p>
  <button id="createStream" class="btn btn-primary" (click)="createStream()">Create Stream</button>
  <br>
  <span id="createStreamMessage" *ngIf="button2Message">Response: {{button2Message}}</span>
  <!-- Step 4 -->
  <h3>Write data to Sds</h3>
  <p>Press the button below to write 10 WaveData events to Sds using the InsertValues call.</p>
  <button id="writeWaveDataEvents"  class="btn btn-primary" (click)="writeWaveDataEvents()">Insert Values</button>
  <br>
  <span id="writeWaveDataEventsMessage" *ngIf="button3Message">Response: {{button3Message}}</span>
  <!-- Step 5 -->
  <h3>Retrieving events from Sds</h3>
  <p>There are several ways to read data back from Sds. Using GetRangeValues, we can start at index location "1" of our wave data
  and get the remaining events. We didn't actually write a value with an index of 1, but since we use SdsBoundaryType.ExactOrCalculated
  in our request, we get an interpolated value at index location 1.</p>
  <button id="retrieveWaveDataEvents" class="btn btn-primary" (click)="retrieveWaveDataEvents()">Retrieve Events</button>
  <br>
  <span id="retrieveWaveDataEventsMessage" *ngIf="button4Message">Response: {{button4Message}}</span>
  <div id="retrieveWaveDataEventsTable" *ngIf="hasEvents">
    <table class="table table-striped table-responsive">
      <tr>
        <th>Order</th>
        <th>Radians</th>
        <th>Tau</th>
        <th>Sin</th>
        <th>Cos</th>
        <th>Tan</th>
        <th>Sinh</th>
        <th>Cosh</th>
        <th>Tanh</th>
      </tr>
      <tr *ngFor="let event of events">
        <td>{{event.Order}}</td>
        <td>{{event.Radians}}</td>
        <td>{{event.Tau}}</td>
        <td>{{event.Sin}}</td>
        <td>{{event.Cos}}</td>
        <td>{{event.Tan}}</td>
        <td>{{event.Sinh}}</td>
        <td>{{event.Cosh}}</td>
        <td>{{event.Tanh}}</td>
      </tr>
    </table>
  </div>  
  <!-- Step 6 -->
  <h3>Retrieving events from Sds with headers</h3>
  <p>We can repeat the same call, but instead of retreiving the data as json array with can get it back as table with headers.</p>
  <button id="retrieveWaveDataEventsHeaders" class="btn btn-primary" (click)="retrieveWaveDataEventsHeaders()">Retrieve Events in table with Headers</button>
  <br>
  <span id="retrieveWaveDataEventsHeadersMessage" *ngIf="getDataWithHeadersMessage">Response: {{getDataWithHeadersMessage}}</span>
  
  <!-- Step 7 -->
  <h3>Update values</h3>
  <p>A call to update values will either create or replace an event at the associated index location.  We will send a collection of
    twenty events to Sds, causing ten events to be updated and an additionaly ten to be created. Press Retrieve Events above to 
    see the updated data.
  </p>
  <button  id="updateWaveDataEvents" class="btn btn-primary" (click)="updateWaveDataEvents()" >Update values</button>
  <br>
  <span id="updateWaveDataEventsMessage" *ngIf="button14Message">Response: {{button14Message}}</span>

  <!-- Step 8 -->
  <h3>Replace values</h3>
  <p>A call to replace values will either create or replace an event at the associated Index location. Press Retrieve Events above to 
    see the replaced data.</p>
  <button id="replaceWaveDataEvents" class="btn btn-primary" (click)="replaceWaveDataEvents()" >Replace values</button>
  <br>
  <span id="replaceWaveDataEventsMessage" *ngIf="button15Message">Response: {{button15Message}}</span>
  
  <!-- Step 9 (getting the replaced values is done above^) -->
  <h3>Get interpolated values</h3>
  <p>We can make a call using a start and end value with a certain number of points expected and interpolation will occur automatically.</p>
  <button id= "retrieveInterpolatedValues" class="btn btn-primary" (click)="retrieveInterpolatedValues()" >Get Interpolated</button>
  <br>
  <span id= "retrieveInterpolatedValuesMessage"  *ngIf="getDataInterpolatedMessage">Response: {{getDataInterpolatedMessage}}</span>

  <!-- Step 10 -->
  <h3>Get filtered values</h3>
  <p>We can make a call using a start and end value with a certain number of points expected and interpolation will occur automatically. 
     In this case we are asking for values with: radians < 3</p>
  <button id= "retrieveFilteredValues" class="btn btn-primary" (click)="retrieveFilteredValues()" >Get Filtered</button>
  <br>
  <span id= "retrieveFilteredValuesMessage"  *ngIf="getFilteredValuesMessage">Response: {{getFilteredValuesMessage}}</span>
  
  <!-- Step 11 -->
  <h3>Get sampled values</h3>
  <p>Sds can return a sample of data that is representative of the trends in a larger dataset. In this case the call asks for 
    selection across 4 intervals sampled by the sin property. Property types that cannot be interpolated do not support sampling 
    requests. Strings are an example of a property that cannot be interpolated. For more information see 
    <a href="https://ocs-docs.osisoft.com/Documentation/SequentialDataStore/SDS_Types.html#interpolation"> Interpolation.</a></p>
  <button id= "retrieveSampledValues" class="btn btn-primary" (click)="retrieveSampledValues()" >Get Samples</button>
  <br>
  <span id= "retrieveSampledValuesMessage"  *ngIf="getSampledValuesMessage">Response: {{getSampledValuesMessage}}</span>

  <!-- Step 12 -->
  <h3>Property Overrides</h3>
  <p>Sds can interpolate or extrapolate data at an index location where data does not explicitly exist. 
    Using the default (Continuous) read behavior and requesting data starting at index location '1', where we have not entered data, 
    Sds will interpolate a value for each property.  We can override this read behavior on a property by property basis, here we 
    override the Radians property instructing Sds not to interpolate.  Sds will now return the default value for the data type.</p>
  <button id="createPropertyOverrideAndUpdateStream" class="btn btn-primary" (click)="createPropertyOverrideAndUpdateStream()" >Create Property Override and Update Stream</button>
  <br>
  <span id="createPropertyOverrideAndUpdateStreamMessage" *ngIf="button5Message">Response: {{button5Message}}</span>
  
  <!-- Step 13 -->
  <h3>Using SdsStreamViews</h3>
  <p>SdsStreamViews can return a StreamView of the data stored on the server, we can use them to coerce SdsStream data of 
    a certain type to be returned as another type. A simple example of this would be to provide a type with the same 
    data shape using different names for each property.</p>
  <button id="createAutoStreamViewTargetType" class="btn btn-primary" (click)="createAutoStreamViewTargetType()" >Create a target SdsType</button>
  <br>
  <span id="createAutoStreamViewTargetTypeMessage" *ngIf="button6Message">Response: {{button6Message}}</span>
  <p>Once we have created our target type we create an SdsStreamView specifying a SourceTypeId (our original SdsType) and 
    a TargetTypeId.</p>
  <button id="createAutoStreamView" class="btn btn-primary" (click)="createAutoStreamView()" >Create an SdsStreamView</button>
  <br>
  <span id="createAutoStreamViewMessage" *ngIf="button7Message">Response: {{button7Message}}</span>
  <p>We can now use this SdsStreamView on any GET request and our data will be returned with the structure of the target SdsType.</p>
    <button id="retrieveWaveDataEventsAutoStreamView" class="btn btn-primary" (click)="retrieveWaveDataEventsAutoStreamView()" >Retrieve Events</button>
    <br>
    <span id="retrieveWaveDataEventsAutoStreamViewMessage" *ngIf="button8Message">Response: {{button8Message}}</span>
    <div id="retrieveWaveDataEventsAutoStreamViewTable" *ngIf="hasStreamView1Events">
      <table class="table table-striped table-responsive">
        <tr>
          <th>OrderTarget</th>
          <th>RadiansTarget</th>
          <th>TauTarget</th>
          <th>SinTarget</th>
          <th>CosTarget</th>
          <th>TanTarget</th>
          <th>SinhTarget</th>
          <th>CoshTarget</th>
          <th>TanhTarget</th>
        </tr>
        <tr *ngFor="let event of targetEvents">
          <td>{{event.OrderTarget}}</td>
          <td>{{event.RadiansTarget}}</td>
          <td>{{event.TauTarget}}</td>
          <td>{{event.SinTarget}}</td>
          <td>{{event.CosTarget}}</td>
          <td>{{event.TanTarget}}</td>
          <td>{{event.SinhTarget}}</td>
          <td>{{event.CoshTarget}}</td>
          <td>{{event.TanhTarget}}</td>
        </tr>
      </table>
    </div>
  <p>We can also specify target types that have different shapes and data types, in the simple example above Sds 
    was able to perform the mapping automatically.  To make more complex changes we will need to specify the mappings
    explicitly.  For this we add an SdsStreamViewProperty mapping the source property to the target property.  We will create 
    three SdsStreamViewProperties and return Sin, Cos and Tan as though they were integers.  
  </p>
    <button id="createSdsStreamViewPropertiesAndManualType" class="btn btn-primary" (click)="createSdsStreamViewPropertiesAndManualType()" >Create SdsStreamView with SdsStreamViewProperties</button>
    <br>
    <span id="createSdsStreamViewPropertiesAndManualTypeMessage" *ngIf="button9Message">Response: {{button9Message}}</span>
    <p>  Speficying this SdsStreamView on our GET request we see that Sds has only returned values for those Properties that have
      an explicit mapping.
      </p>
        <button id="retrieveWaveDataEventsManualStreamView" class="btn btn-primary" (click)="retrieveWaveDataEventsManualStreamView()" >Retrieve Events</button>
        <br>
        <span id="retrieveWaveDataEventsManualStreamViewMessage" *ngIf="button10Message">Response: {{button10Message}}</span>
        <div id="retrieveWaveDataEventsManualStreamViewTable" *ngIf="hasStreamView2Events">
            <table class="table table-striped table-condensed">
              <tr>
                <th>OrderTarget</th>
                <th>SinInt</th>
                <th>CosInt</th>
                <th>TanInt</th>
              </tr>
              <tr *ngFor="let event of integerEvents">
                <td>{{event.OrderTarget}}</td>
                <td>{{event.SinhInt}}</td>
                <td>{{event.CoshInt}}</td>
                <td>{{event.TanhInt}}</td>
              </tr>
            </table>
          </div>
        <p>  Finally, if we are ever curious about the mapping for a specific StreamView we can request its SdsStreamViewMap.  This will show the relationship 
          between the SourceType and the TargetType.
            </p>
              <button id="getSdsStreamViewMap" class="btn btn-primary" (click)="getSdsStreamViewMap()" >Request SdsStreamViewMap</button>
              <br>
              <span id="getSdsStreamViewMapMessage" *ngIf="button11Message">Response: {{button11Message}}</span>
              <div id="getSdsStreamViewMapTable" *ngIf="hasMapProperties">
                  <table class="table table-striped table-bordered">
                    <tr>
                      <th>SourceTypeId</th>
                      <th>TargetTypeId</th>
                    </tr>
                      <td width="50%">{{streamViewMap.SourceTypeId}}</td>
                      <td width="50%">{{streamViewMap.TargetTypeId}}</td>
                  </table>
                </div>
                <p></p>
                <p></p>
                <div *ngIf="hasMapProperties">
                  <table class="table table-striped table-bordered">
                      <tr>
                        <th>SourcePropertyId</th>
                        <th>TargetPropertyId</th>
                      </tr>
                      <ng-container *ngFor="let prop of streamViewMap.Properties">
                         <tr *ngIf="prop.TargetId">
                      <td>{{prop.SourceId}}</td>
                      <td>{{prop.TargetId}}</td>
                    </tr>
                  </ng-container>
                  </table>
                </div>

  <!-- Step 14 -->
  <h3>UpdateStreamType</h3>
  <p>We can change the streams type using the streamview</p>
  <button id= "updateStreamType" class="btn btn-primary" (click)="updateStreamType()" >Update StreamType</button>
  <br>
  <span id= "updateStreamTypeMessage"  *ngIf="updateStreamTypeMessage">Response: {{updateStreamTypeMessage}}</span>

  <!-- Step 15 -->
  <h3>Querying Types</h3>
  <p>We can query the types we return based upon many things, including in this example whether their Id contains: Target.</p>
  <button id= "queryTypes" class="btn btn-primary" (click)="queryTypes()" >Get type query</button>
  <br>
  <span id= "queryTypesMessage"  *ngIf="queryTypesMessage">Response: {{queryTypesMessage}}</span>
                
  <!-- Step 16 -->
  <h3>Tags and Metadata</h3>
  <p>Let's add some tags and metadata to our stream</p>
  <button id="createTagsAndMetadata" class="btn btn-primary" (click)="createTagsAndMetadata()">Create Tags and Metadata</button>
  <br>
  <span id="createTagsAndMetadataMessage" *ngIf="button16Message">Response: {{button16Message}}</span>
  
  <p></p>
  <button id="getAndPrintTags" class="btn btn-primary" (click)="getAndPrintTags()">Get Tags</button>
  <br>
  <span id="getAndPrintTagsMessage" *ngIf="button17Message">{{button17Message}}</span>

  <p></p>
  <button id="getAndPrintMetadata" class="btn btn-primary" (click)="getAndPrintMetadata()" >Get Metadata</button>
  <br>
  <span id="getAndPrintMetadataMessage" *ngIf="button18Message">Response: {{button18Message}}</span>
  <div id="getAndPrintMetadataMessage" *ngIf="hasMetadata">
      <table class="table table-striped table-bordered">
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
            <tr>
          <td>Region</td>
          <td>{{metadataMap["Region"]}}</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>{{metadataMap["Country"]}}</td>
          </tr>
          <tr>
              <td>Province</td>
              <td>{{metadataMap["Province"]}}</td>
            </tr>
      </table>
    </div>
  <p></p>  

  <!-- Step 17 -->
  <h3>Delete Values</h3>
  <p>Press the button below to delete all values from the SdsStream, pressing Retrieve Events 
    above should now return an empty array.
  </p>
  <button id="deleteAllValues" class="btn btn-primary" (click)="deleteAllValues()">Delete Values</button>
  <br>
  <span id="deleteAllValuesMessage" *ngIf="button13Message">Response: {{button13Message}}</span>

  <!-- Step 18 -->
  <h3>Create Stream with Secondary Index Values</h3>
  <p> Streams can have a secondary index that is different than its type primary index. 
    In this case we create a new stream to show this, with a seconadry index on radians.
  </p>
  <button id= 'secondaryCreate' class="btn btn-primary" (click)="createStreamSecondaryIndex()">Create Secondary indexed stream </button>
  <br>
  <span id= 'secondaryCreateMessage' *ngIf="secondaryCreateMessage">Response: {{secondaryCreateMessage}}</span>
  
  <h3>Add secondary index to an existing stream</h3>
  <p> Streams can have a secondary index that is different than its type primary index. 
    In this case we add an index to our first stream to show this, with a seconadry index on SinhInt.
  </p>
  <button id= 'secondaryUpdate' class="btn btn-primary" (click)="updateStreamSecondaryIndex()">Update stream to have a secondary index </button>
  <br>
  <span id= 'secondaryUpdateMessage' *ngIf="secondaryUpdateMessage">Response: {{secondaryUpdateMessage}}</span>
  
  <h3>Remove a secondary index from an existing stream</h3>
  <p> 
  </p>
  <button id= 'secondaryDelete' class="btn btn-primary" (click)="secondaryDeleteIndex()">Update stream to not have a secondary index </button>
  <br>
  <span id= 'secondaryDeleteMessage' *ngIf="secondaryDeleteMessage">Response: {{secondaryDeleteMessage}}</span>

  <!-- Step 19 -->
  <h3>Add a type and stream with a compound index</h3>
  <p> Types can have a compound index.
  </p>
  <button id= 'createCompoundTypeandStream' class="btn btn-primary" (click)="createCompoundTypeandStream()">Create Compound Type and Stream</button>
  <br>
  <span id= 'createCompoundTypeandStreamMessage' *ngIf="createCompoundTypeandStreamMessage">Response: {{createCompoundTypeandStreamMessage}}</span>

  <!-- Step 20 -->
  <h3>Data with a compound index</h3>
  <p> Types can have a compound index.  With that you send data normally and retreive data using the complex indicies
  </p>
  <button id= 'createAndRetreiveCompoundData' class="btn btn-primary" (click)="createAndRetreiveCompoundData()">Create Compound data and retreive</button>
  <br>
  <span id= 'createAndRetreiveCompoundDataMessage' *ngIf="createAndRetreiveCompoundDataMessage">Response: {{createAndRetreiveCompoundDataMessage}}</span>
  <span id= 'createAndRetreiveCompoundDataMessageData' *ngIf="createAndRetreiveCompoundDataMessageData">Response: {{createAndRetreiveCompoundDataMessageData}}</span>
  
  <!-- Step 21 -->
  <h3>Deleting types, streams and streamViews</h3>
  <p>Press the button below to delete the types, streams and streamViews that this sample has created. Failure to do
  so could cause conflicts if the sample runs again. Please note that deleting a stream deletes all of the data
  written to that stream.</p>
  <button id="cleanup"  class="btn btn-primary" (click)="cleanup()">Clean up</button>
  <br>
  <span id="cleanupMessage"  *ngIf="button12Message">Response: {{button12Message}}</span>
</div>

