<style scoped>

    .streams-page-header {
        margin-top:15px;
        margin-bottom:8px;
        padding-bottom:5px;
        
    }

        .streams-page-header > h1 {
            color:#808080;
        }

    .streams-page-header-desc {
        color:#808080;
    }


    .stream-name {
        margin-bottom:0;
    }
    
    .stream-table tbody>tr>td {
        padding-top:3px;
        padding-bottom:3px;
        vertical-align:middle;
        line-height:18px;
    }


    .stream-select-button {
        margin-bottom:0;
    }

    .stream-select-button > button {
        width: 85px;
    }

    .stream-data {
        margin:0;
    }

    .stream-label {
        width: 50px;
        margin:0;
    }
</style>

<div ng-controller="dashboardController">
    <div ></div>
    <div class="container-fluid">
 
        <div ng-controller="qiController">
            <div class="row">
                <div class="col-xs-12">
                    <p>To run this example, click each of the buttons in turn from top to bottom (Step 1 through Step 7). Open Developers Tools' Console to view messages as they are processed (in most browsers you can open it by pressing F12). </p>
                    <p style="font-size:larger;margin-top:5px;margin-bottom:5px;color:#808080;"><b>Step1: Create Types and Streams</b></p>
                    <p>Namespace: {{namespaceId}}</p>
                    <p>Type: {{typeId}}</p>
                    <p>Stream: {{sampleStreamId}}</p>
                    <p><button ng-click="click_Step1()">Create And Insert </button></p>
                    <p style="color:red;"> {{step1msg}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p style="font-size:larger;margin-top:5px;margin-bottom:5px;color:#808080;"><b>Step 2: Retrieve Events</b></p>
                    <p>This button retrieves the inserted events </p>
                    <button ng-click="click_Step2()">Retrieve Events </button>
                    <p style="color:red;"> {{step2msg}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p style="font-size:larger;margin-top:5px;margin-bottom:5px;color:#808080;"><b>Step 3: Update Events</b></p>
                    <p>This button updates the events inserted before </p>
                    <p><button ng-click="click_Step3()">Update</button></p>
                    <p style="color:red;"> {{eventsMsg}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p style="font-size:larger;margin-top:5px;margin-bottom:5px;color:#808080;"><b>Step 4: Retrieve Events</b></p>
                    <p>Use this button after Updating events </p>
                    <button ng-click="click_Step4()">Retrieve Events </button>
                    <p style="color:red;"> {{step4Msg}}</p>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <p style="font-size:larger;margin-top:5px;margin-bottom:5px;color:#808080;"><b>Step 5: Add Stream Behavior</b></p>
                    <p>This button adds the behavior to the stream. Click this after Creating the stream. </p>
                    <button ng-click="click_Step5()">Add Behavior </button>
                    <p> {{step5Msg}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p style="font-size:larger;margin-top:5px;margin-bottom:5px;color:#808080;"><b>Step 6: Retrieve Range Events</b></p>
                    <p>Use this button after adding stream behavior </p>
                    <button ng-click="click_Step6()">Range Events </button>
                    <p style="color:red;"> {{step6Msg}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p style="font-size:larger;margin-top:5px;margin-bottom:5px;color:#808080;"><b>Step 7: Delete Type, Stream and Behavior</b></p>
                    <p>This button deletes the events, stream, type and behavior</p>
                    <button ng-click="click_Step7()">Cleanup </button>
                    <p> {{step7Msg}}</p>
                </div>
            </div>

            <!--<div class="row">
                <div class="col-xs-12">
                    <p style="font-size:larger;margin-top:5px;margin-bottom:5px;color:#808080;"><b>Add a Qi Type</b></p>
                    TypeNameSpaceId: <input ng-model="typeId" />
                    <button ng-click="createType()"> Create Type </button>
                    <button ng-click="insertValues()"> Insert Value </button>
                    <button ng-click="getValue()"> Get Value </button>
                    <button ng-click="updateValue()"> Update Value </button>
                    <button ng-click="updateValues()"> Update Values </button>
                    <button ng-click="createBehavior()"> Add Behavior </button>
                    <button ng-click="removeValues()"> Remove </button>
                    <button ng-click="Start()"> Start </button>
                    <div>You chose {{message}}</div>
                </div>
            </div>-->

        

            <!--<div class="row">
                <div class="col-xs-12">
                    <p style="font-size:larger;margin-top:5px;margin-bottom:5px;color:#808080;"><b>Select a QI Namespace</b></p>
                    <div ng-init="populateQiNamespaces()">
                        <div class="panel">
                            <select ng-model="selectedNSitem" ng-change="nsItemChanged()"  >
                                <option ng-repeat="item in namespacesList"  value="{{item.Id}}">{{item.Id}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>-->
                       
            <!--<div class="row" ng-if="hasStreams()">
                <div class="col-xs-12">
                    <p style="font-size:larger;margin-top:5px;margin-bottom:5px;color:#808080;"><b>QI Streams List</b></p>
                    <div>
                        <div class="panel">
                            <table class="table table-striped stream-table">
                                <tbody>
                                    <tr data-ng-repeat="item in streamList">
                                        <td>
                                            <p class="stream-name">Stream: {{item.Name}}</p>
                                        </td>
                                        <td>
                                            <p class="stream-select-button" data-ng-hide="item.edit || editingInProgress">
                                                <button ng-if="!isStreamSelected(item.Id)" class="btn btn-primary btn-sm pull-right" data-ng-click="selectInsertStream(item)" href="javascript:;">Select</button>
                                                <button ng-if="isStreamSelected(item.Id)" class="btn btn-warning btn-sm pull-right" data-ng-click="selectRemoveStream(item)" href="javascript:;">Remove</button>
                                            </p>

                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        
        
     </div>
</div>