<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Namespace" value="Samples" />

    <add key="Tenant" value="PROVIDED_TENANT_ID" />

    <add key="Address" value="https://qi-data.osisoft.com" />

    <!--Credentials-->
    <add key="Resource" value="https://qihomeprod.onmicrosoft.com/historian" />
    <add key="AppId" value="PROVIDED_CLIENT_APPLICATION_ID" />
    <add key="AppKey" value="PROVIDED_CLIENT_APPLICATION_KEY" />

    <add key="AADInstanceFormat" value="https://login.windows.net/{0}/oauth2/token" />
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>