<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Prefix to be applied to SDS resources to avoid collisions-->
    <add key ="ResourcePrefix" value="PerfMonSample-"/>
    
    <!--TODO : Remove these value when the samples are ready to be published-->
    <add key="Tenant" value="c2dbab06-ee40-4b23-bb20-c7bdd7cc3637" />
    <add key="Namespace" value="DefaultNamespace" />
    
    <add key="Address" value="https://historianmain.osipi.com" />
    <add key="Resource" value="https://pihomemain.onmicrosoft.com/ocsapi" />
    <add key="ClientId" value="59580fc2-f42b-46cc-ac10-f34b0767795c" />
    <add key="ClientSecret" value="kbI1bWfmF7st3Y+wIK6/MRLEv8fDh5kC9cMeM1b/HHI=" />

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
