<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IdentityModel" version="3.10.4" targetFramework="net462" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Net.Http.Headers" version="2.1.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="OSIsoft.Contracts" version="1.0.35" targetFramework="net462" />
  <package id="OSIsoft.Contracts.Admin" version="1.0.35" targetFramework="net462" />
  <package id="OSIsoft.Data.Server.Uom" version="1.0.35" targetFramework="net462" />
  <package id="OSIsoft.Http.Client" version="1.0.35" targetFramework="net462" />
  <package id="OSIsoft.Identity.AuthenticationHandler" version="1.0.0" targetFramework="net462" />
  <package id="OSIsoft.Models" version="1.0.35" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.1" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net462" />
</packages>