<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.23.302261847" targetFramework="net46" />
  <package id="Microsoft.Owin" version="2.0.2" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="OSIsoft.Qi.Core" version="1.0.0.801" targetFramework="net46" />
  <package id="OSIsoft.Qi.Http.Admin" version="1.0.0.801" targetFramework="net46" />
  <package id="OSIsoft.Qi.Http.Channel" version="1.0.0.801" targetFramework="net46" />
  <package id="OSIsoft.Qi.Http.Client" version="1.0.0.801" targetFramework="net46" />
  <package id="OSIsoft.Qi.Http.Repository" version="1.0.0.801" targetFramework="net46" />
  <package id="OSIsoft.Qi.Http.Security" version="1.0.0.801" targetFramework="net46" />
  <package id="OSIsoft.Qi.Http.StreamRepository" version="1.0.0.801" targetFramework="net46" />
  <package id="OSIsoft.Qi.Windows" version="1.0.0.801" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
</packages>